<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編輯產品</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="text-end mt-4">
         
            
          <button class="btn btn-primary" @click="openModal">
            建立新的產品
          </button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">
                分類
              </th>
              <th>產品名稱</th>
              <th width="120">
                原價
              </th>
              <th width="120">
                售價
              </th>
              <th width="100">
                是否啟用
              </th>
              <th width="120">
                編輯
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, key) in productList" :key="item.id">
              <td>{{item.category}}</td>
              <td>{{item.title}}</td>
              <td class="text-end">{{item.origin_price}}</td>
              <td class="text-end">{{item.price}}</td>
              <td>
                <span :class="{'text-success':item.is_enabled}" v-show="item.is_enabled">啟用</span>
                <span :class="{'text-warning':!item.is_enabled}" v-show="!item.is_enabled" >未啟用</span>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary btn-sm" @click="editItem(item)">
                    編輯
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-sm" @click="deleteItem(item.id, item.title)">
                    刪除
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

      
      <!-- 建立新的產品/編輯產品Modal -->
      <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel " data-bs-backdrop="static" data-bs-keyboard="false"
           aria-hidden="true"  >
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <!-- header -->
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title">
                <span v-show="editStatus=='新增'" >新增產品</span>
                <span v-show="editStatus=='編輯'">編輯產品</span>
               
                
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="clearTempData"></button>
            </div>

            <!-- body -->
            <div class="modal-body">
              <div class="row">
                <!-- 左半邊 -->
                <div class="col-sm-4">
                  <div class="mb-2">
                    <div class="mb-3">
                        
                      <label for="imageUrl" class="form-label" >輸入主要圖片網址</label>
                      <input type="text" class="form-control"
                             placeholder="請輸入圖片連結" v-model="temp.data.imageUrl">
                    </div>
                    <img class="img-fluid" :src=" temp.data.imageUrl" alt="主要圖片" :class="{'d-none':!temp.data.imageUrl}">
                  </div>

                  <h4>多圖新增</h4>
                 
 
                  <div v-show="temp.data.imagesUrl">
                      <div class="mb-2" >
                        <div class="mb-3" v-for="(item,key) in temp.data.imagesUrl" :key="item">
                          <label for="imagesUrl" class="form-label" >圖片網址</label>
                          <input type="text" class="form-control"
                                 :placeholder="item"  v-model.lazy="temp.data.imagesUrl[key]">
                        <img class="img-fluid" :src="item" alt="其他圖片">
                        </div>
                      
                      </div>
                  </div>
                  <div  v-show="addPhoto" :class="{'d-none':!editPhoto}">
                    <label for="imagesUrl" class="form-label">輸入多圖網址</label>
                    <input type="text" class="form-control"
                    placeholder="請輸入圖片連結" v-model="tempUrl" @change="addPhotos">
                    
                </div>


                <div>

                  <button class="btn btn-outline-primary btn-sm d-block w-100" @click="addPhotos">
                    新增圖片
                  </button>

                  <div v-show="addPhoto" :class="{'d-none':!editPhoto}">
                    <button class="btn btn-outline-danger btn-sm d-block w-100" @click="deletePhoto">
                      刪除圖片
                    </button>
                  </div>

                </div>

                  </div>

                <!-- 右半邊 -->
                <div class="col-sm-8">
                  <div class="mb-3">
                    <label for="title" class="form-label">標題</label>
                    <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="temp.data.title">
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="category" class="form-label" >分類</label>
                      <input id="category" type="text" class="form-control"
                             placeholder="請輸入分類" v-model="temp.data.category">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">單位</label>
                      <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="temp.data.unit">
                    </div>
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="origin_price" class="form-label">原價</label>
                      <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價" v-model.number="temp.data.origin_price">
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">售價</label>
                      <input id="price" type="number" min="0" class="form-control"
                             placeholder="請輸入售價" v-model.number="temp.data.price">
                    </div>
                  </div>
                  <hr>

                  <div class="mb-3">
                    <label for="description" class="form-label">產品描述</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入產品描述" v-model="temp.data.description">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">說明內容</label>
                    <textarea id="description" type="text" class="form-control"
                              placeholder="請輸入說明內容" v-model="temp.data.content">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input id="is_enabled" class="form-check-input" type="checkbox"
                             :true-value="1" :false-value="0" v-model="temp.data.is_enabled">
                      <label class="form-check-label" for="is_enabled">是否啟用</label>
                    </div>
                    {{temp}}
                    <br>
                    {{tempUrl}}
                  </div>
                </div>
              </div>
              </div>
           

            <!-- footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @click="clearTempData">
                取消
              </button>
              <button type="button" class="btn btn-primary" @click="save" v-show="editStatus=='新增'">
                確認
              </button>
              <button type="button" class="btn btn-primary" @click="confirmEdit" v-show="editStatus=='編輯'">
                確認
              </button>
            </div>
          </div>
          </div>
        </div>

      <!-- 刪除產品的modal -->
      <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1" aria-labelledby="delProductModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 class="modal-title" id="delProductModalLabel">刪除產品</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger">{{deleteItemTitle}}</strong> (商品刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
              <button type="button" class="btn btn-danger" @click="confirmDelete">確認刪除</button>
            </div>
          </div>
        </div>
      </div>


     

      </div>

    <script type="module">
        let productModal='';
        let delProductModal='';
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    import {debounce} from 'https://cdn.jsdelivr.net/npm/@esm-bundle/lodash@4.17.21/esm/index.js'
 
    const app = createApp({
        data(){
            return{
                api:{
                    url : 'https://vue3-course-api.hexschool.io/v2',
                    api_path : 'florafirstapi',
                    token:''
                },
                productList:[],
                temp:{
                    data: {
                        //https://picsum.photos/200
                        title: "",
                        category: "",
                        origin_price: '',
                        price:'',
                        unit: '',
                        description: "",
                        content: "",
                        is_enabled: 1,
                        imageUrl: "",
                        imagesUrl: []
                            }       
                },
                editStatus:'',
                addPhoto:false,
                editPhoto:false,
                tempUrl:'',
                deleteId:'',
                editId:'',
                deleteItemTitle:'',
                editCurrentItem:false
            }
                
            
        },
        methods:{
            checkLogin(){
                axios.post(`${this.api.url}/api/user/check` )
                .then((res)=>{
                    console.log(res)
                }).catch((err)=>{
                    window.location.href='./login.html'
                })
            },
            getProductInfo(){
                axios.get(`${this.api.url}/api/${this.api.api_path}/admin/products/all`).then((res)=>{
                    console.log(res.data.products);
                    this.productList=res.data.products
                }).catch((err)=>{
                    console.log(err)
                })
            },
            //打開新增產品
            openModal(){
                productModal.show();
                this.editStatus='新增'
            },
            //增加多圖
            addPhotos(){
                console.log(this.addPhoto);
                this.addPhoto=true;
                this.editPhoto=true
                //輸入圖片連結雙向綁定tempUrl
                if(this.tempUrl){
                 this.temp.data.imagesUrl.push(this.tempUrl)
                 console.log(this.temp.data.imagesUrl);
                 this.tempUrl = '';
                 this.editPhoto=false;
                 console.log(this.addPhoto)
               };
            },
            //修改圖片
          revisePhoto(key){
            console.log(key);
            console.log()
          },

            //刪除多圖
            deletePhoto(){
                console.log('del');
                this.tempUrl='';
                this.editPhoto=false
                
                
               
            },
             //儲存新增的品項
            save(){
                axios.post(`${this.api.url}/api/${this.api.api_path}/admin/product`, this.temp)
                .then((res)=>{
                    console.log(res);
                    this.clearTempData();
                    productModal.hide();
                    this.getProductInfo();


                }).catch((err)=>{
                    //console.log(err);
                    alert(err.data.message)
                })
            },
            //clear temp data
            clearTempData(){
             this.temp.data={
                        title: "",
                        category: "",
                        origin_price: '',
                        price:'',
                        unit: '',
                        description: "",
                        content: "",
                        is_enabled: 1,
                        imageUrl: "",
                        imagesUrl: []
                            } 

            },
            //顯示刪除modal
            deleteItem(id, title){
                delProductModal.show();
                console.log(title)
                this.deleteId = id
                this.deleteItemTitle = title

            },
            //確認刪除
            confirmDelete(){
              console.log(this.deleteId);
             
              axios.delete(`${this.api.url}/api/${this.api.api_path}/admin/product/${this.deleteId}`).then((res)=>{
                console.log(res);
                delProductModal.hide();
                this.getProductInfo();
              }).catch((err)=>{
                console.log(err)
              })
              

            },
            //編輯品項
            editItem(item){
              this.editStatus='編輯'
              console.log(item.id);
              this.editId=item.id
              productModal.show();
              this.temp.data= JSON.parse(JSON.stringify(item))
              //編輯功能不可以在還沒存時就更新，由於編輯時有物件傳參考的問題，請確保編輯物件與原始物件參考不是同一個
              //超過一層,要用深拷貝
              this.editCurrentItem=true;
            },
            //儲存編輯的品項
            confirmEdit(){
              console.log('123')
              console.log(this.editId);
              axios.put(`${this.api.url}/api/${this.api.api_path}/admin/product/${this.editId}`, this.temp.data)
              .then((res)=>{
                console.log(res)
                productModal.hide();
                this.editCurrentItem=false;
                this.clearTempData();
                this.getProductInfo();
              }).catch((err)=>{
                console.log(err)
              })
              
            },
        },
        mounted(){
          const token = document.cookie.split("; ").find((row) => row.startsWith("floraFirstApiToken="))?.split("=")[1];
          console.log(token);
          this.api.token=token;
          axios.defaults.headers.common['Authorization']=token;
          this.checkLogin();
          this.getProductInfo();
          productModal = new bootstrap.Modal(document.querySelector('#productModal'),{
            keyboard:false,
            backdrop:'static'
          });
          delProductModal = new bootstrap.Modal(document.querySelector('#delProductModal'),{
            keyboard:false,
            backdrop:'static'
          })
        }
    })

    app.mount('#app')

    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
            integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
            crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>

  </body>

</html>