<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表</title>
    <link rel="stylesheet" href="./all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  </head>
<body>
    <div id="app">
        <div class="container">
            <div class="row py-3">
              <div class="col-md-6">
                <h2>產品列表</h2>
                <a href="./editProduct.html">week3 新增刪除編輯產品</a>
                <br>
                <a href="./editProductComponent.html">week4 元件化</a>
                <table class="table table-hover mt-4">
                  <thead >
                    <tr>
                      <th width="150">產品名稱</th>
                      <th width="120">
                        原價
                      </th>
                      <th width="120">
                        售價
                      </th>
                      <th width="150">
                        是否啟用
                      </th>
                      <th width="120">
                        查看細節
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,key) in products" :key="key">
                      <td width="150">{{item.title}}</td>
                      <td width="120">
                        {{item.origin_price}}
                      </td>
                      <td width="120">
                        {{item.price}}
                      </td>
                      <td width="150">
                        <span class="text-success" v-if="item.is_enabled">啟用</span>
                        <span v-else>未啟用</span>
                        
                      </td>
                      <td width="120">
                        <button type="button" class="btn btn-primary" :data-id="item.id" @:click="addToTemp(item.id)">查看細節</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>目前有 <span>{{products.length}}</span> 項產品</p>
              </div>
              <div class="col-md-6">
                <h2>單一產品細節</h2>
                <template :class="{'d-block':temp.title}">
                  <div class="card mb-3">
                    <img :src="temp.imageUrl" class="card-img-top primary-image" alt="主圖">
                    <div class="card-body">
                      <h5 class="card-title">
                        {{temp.title}}
                        <span class="badge bg-primary ms-2">{{temp.category}}</span>
                      </h5>
                      <p class="card-text">商品描述：{{temp.description}}</p>
                      <p class="card-text">商品內容：{{temp.content}}</p>
                      <div class="d-flex">
                        <p class="card-text me-2">{{temp.price}}</p>
                        <p class="card-text text-secondary"><del>{{temp.origin_price}}</del></p>
                        元 / {{temp.unit}}
                      </div>
                    </div>
                  </div>
                  
                      <span v-for="(item, key) in temp.imagesUrl" :data-url="item" :key='key'>
                          <a href="#"><img :src="item" alt="" class="images m-2" @click.prevent="changePhoto(item)"> </a>
                      </span>
                        
                
                </template>

                <p class="text-secondary" :class="{'d-none':temp.title}">請選擇一個商品查看</p>
              </div>
            </div>
          </div>
    </div>

<script type="module">
//用esm-browser載入vue
import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
  
// app => Vue 實體
const app = createApp({
    data(){
        return{
token:{

},
temp:{

},
api:{
  url : 'https://vue3-course-api.hexschool.io/v2',
  api_path : 'florafirstapi'
},
products:[

],
        }
    },

    //函式
    methods:{
addToTemp(id){
    this.products.forEach((item)=>{
        if(item.id == id){
           this.temp = item;
           console.log(this.temp.title)
        }
    })
},
changePhoto(item){
    this.temp.imagesUrl.forEach((el)=>{
        if(item == el){
            console.log(item);
            this.temp.imageUrl = item;
        }
    })
},
//確認有沒有cookie來判斷登入的API
checkCookie(){
  //document.cookie = `test123=abc; expires=Thu, 15 Jan 2025 03:55:00 GMT`; 
  //測試如果夾帶其他cookie會不會正常運作
  const decodedCookie = document.cookie;
  const cookieArray = decodedCookie.split(';')
 // console.log(cookieArray)
  let floraFirstApiToken;
  cookieArray.forEach((item)=>{
    item = item.split('=');
   // console.log(item)
   // console.log(item[0].trim());
    //有時候會有空白造成錯誤
    if(item[0].trim() === 'floraFirstApiToken'){
      floraFirstApiToken = item[1];
      //console.log(floraFirstApiToken);
      this.token.token = floraFirstApiToken;
      //console.log(this.token);
    }
  });
 //console.log(floraFirstApiToken)
  if(!floraFirstApiToken){
    location.href='./login.html'
  };
},
//使用六角確認登入的API
checkLogin(){
  const token = document.cookie
  .split("; ")
  .find((row) => row.startsWith("floraFirstApiToken="))
  ?.split("=")[1];
  //console.log(token);
  this.token.token = token;
  const config = {
    headers:{Authorization:this.token.token}
  };
 // console.log(config)
  axios.defaults.headers.common['Authorization']=token 
  //這個方式 或 把config放進去post裡面都可以,這個方法可以不用每次都放config

  axios.post(`${this.api.url}/api/user/check`)
  .then((res)=>{
    console.log(res)
  }).catch((err)=>{
    window.location.href='./login.html'
  })

},
getProductList(){
  axios.get(`${this.api.url}/api/${this.api.api_path}/products/all`)
  .then((res)=>{
    console.log(res.data.products);
    this.products = res.data.products
  })
},
revisePhoto(){

  // const config = {
  //   headers:{Authorization: this.token.token}
  // };
  // console.log(config)

  let data = {
    category: "餅乾",
content: "使用M&M巧克力",
description: "色彩的繽紛、繽紛的好心情",
id: "-NnrsfZv0tGSINzJsQ0s",
// imageUrl: " https://i.pinimg.com/564x/d8/ed/ee/d8edee73b9b556b613d7b314b462a8b6.jpg",
// imagesUrl: [
// "https://i.pinimg.com/564x/41/52/6d/41526d43fba0a0af0dd92f31fa2b6e9b.jpg",
// "https://i.pinimg.com/564x/d8/ed/ee/d8edee73b9b556b613d7b314b462a8b6.jpg",
// "",
// "",
// ""
// ],
is_enabled: 1,
origin_price: 50,
price: 50,
title: "M&M 巧克力軟餅乾",
unit: "片",
  };
  axios.put(`${this.api.url}/api/${this.api.api_path}/admin/product/-NnrsfZv0tGSINzJsQ0s`,{data})
  .then((res)=>{
    console.log(res.config.data);
  }).catch((err)=>{
    console.log(err)
  })
},
addProduct(){
  const config = {
    headers:{Authorization: this.token.token}
  };
  console.log(config)
  let data = {
category: "測試",
content: "測試",
description: "測試",
// imageUrl: " https://i.pinimg.com/564x/d8/ed/ee/d8edee73b9b556b613d7b314b462a8b6.jpg",
// imagesUrl: [
// "https://i.pinimg.com/564x/41/52/6d/41526d43fba0a0af0dd92f31fa2b6e9b.jpg",
// "https://i.pinimg.com/564x/d8/ed/ee/d8edee73b9b556b613d7b314b462a8b6.jpg",
// "",
// "",
// ""
// ],
is_enabled: 1,
origin_price: 50,
price: 50,
title: "測試",
unit: "片",
ice:true
  };
  axios.put(`${this.api.url}/api/${this.api.api_path}/admin/product/-NnrsfZv0tGSINzJsQ0s`,{data}, config)
  .then((res)=>{
    console.log(res.config.data);
  }).catch((err)=>{
    console.log(err)
  })
}
    },

    mounted(){
     // this.checkCookie();
     // this.addProduct();
      
      this.checkLogin();
      this.getProductList();

      
    }
})
// app.component...
app.mount('#app');

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</body>
</html>